#create-table .ct-title{
	display: block;
	margin: 10px;
}
#create-table .ct-title .title-first{
	display: flex;
	flex-wrap: wrap;
}
#create-table .ct-title .icon-place{
	display: block;
	width: 50px;
	height: 50px;
}
#create-table .ct-title .icon-place i{
	font-size: 24px;
}
#create-table .ct-title .text-place{
	display: block;
	margin: 14px;
	margin-left: 5px;
	font-size: 19px;
}
#create-table .ct-title .title-last{
	display: block;
	margin: 0 10px 5px 55px;
}
#create-table .ct-title .title-last .text{
	color: #0B7D72;
}
#create-table .ct-content{
	display: block;
	margin: 10px;
	margin-top: 20px;
}
#create-table .ct-content .ct-des{
	display: block;
	margin: 10px;
	border-bottom: 1px solid #00FFD2;
}
#create-table .ct-content .ct-input{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
#create-table .ct-content .ct-item{
	display: block;
	margin: 10px;
	margin-top: 0;
}
#create-table .ct-content .ct-item input,
#create-table .ctd-input input{
	display: block;
	width: 200px;
	height: 40px;
	background-color: transparent;
	font-size: 17px;
	padding: 12px;
	outline: none;
	border: 2px solid #97FFEC;
	border-radius: 3px;
}
#create-table .ct-content .ct-item input:focus,
#create-table .ct-content .ct-item input:hover,
#create-table .ctd-input input:focus,
#create-table .ctd-input input:hover{
	border-color: #0DBFA0;
}
#create-table .ct-content .ct-btns{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
}
#create-table .ct-content .ct-btn{
	display: block;
	margin: 10px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	border: 2px solid transparent;
	background-color: #97FFEC;
	padding: 7px 13px;
}
#create-table .ct-content .ct-btn *::selection{
	background-color: transparent;
}
#create-table .ct-content .ct-btn:hover{
	border-color: #28D0C5;
}
#create-table .ct-content .del-row{
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	cursor: pointer;
	border: 2px solid transparent;
}
#create-table .ct-content .del-row i{
	font-size: 15px;
}
#create-table .ct-content .del-row:hover{
	border-color: #00FFD2;
}
/* --- Список --- */
#create-table .ct-data{
	display: none;
	width: 100%;
}
#create-table .ct-data.active{
	display: block;
}
#create-table .ctd-input{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#create-table .ctd-input .input-place{
	display: block;
	width: 180px;
	height: 35px;
	max-width: 90%;
	margin: 10px;
}
#create-table .ctd-input input{
	display: block;
	width: 100%;
	height: 100%;
}
#create-table .ctd-input .btn-place{
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 100%;
	margin: 10px;
	margin-left: 0;
	border: 2px solid transparent;
}
#create-table .ctd-input .btn-place:hover{
	border-color: #00FFD2;
}
.ctd-select{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.ctd-option{
	display: block;
	border-radius: 16px;
	margin: 10px;
	margin-left: 0;
	background-color: #CFF3F0;
	border: 2px solid #CFF3F0;
	overflow: hidden;
}
.ctd-option:first-child{
	margin-left: 10px;
}
.ctd-option .text-place,
.ctd-option .icon-place{
	/*float: left;*/
}
.ctdo-content{
	display: flex;
}
.ctd-option .text-place{
	display: block;
	text-align: center;
	padding: 4px 5px 4px 13px;
}
.ctd-option .icon-place{
	display: block;
	height: 30px;
	width: 30px;
	margin-left: 5px;
	border-radius: 100%;
	background-color: #fff;
	cursor: pointer;
}
.ctd-option .icon-place i{
	font-size: 13px;
}
#create-table .ct-wrapper .ct-content .for-clone{
	display: none;
}
input[type="submit"].ct-btn,
input[type="button"].ct-btn{
	font-size: 17px;
	outline: none;
}