body{	
	font-size: 17px;
	color: #212E40;
}
body,
input,
textarea{
	font-family: 'Calibri', sans-serif;
}
body,
body *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body *::selection{
	background-color: #0DBFA0;
}
/* --- Сброс для Input в меню --- */
.menu-input input{
	border: none;
	outline: none;
	background-color: transparent;
}
/* --- Позиция иконок --- */
.icon{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.icon i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}