/* --- Основные стили --- */
#sidebar{
	display: none;
	width: 260px;
	height: calc(100% - 50px);
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #212E40;
	color: #00FFD2;
	font-size: 18px;
	z-index: 100;
}
#sidebar.active{
	display: block;
}
#sidebar *::selection{
	background-color: transparent!important;
}
.sidebar-wrapper{
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.sidebar-content{
	display: block;
	width: 100%;
}
.sidebar-title,
.sidebar-item{
	display: flex;
	justify-content: space-between;
	width: 90%;
	overflow: hidden;	
	margin: 0 auto;
	height: 40px;
}
.sidebar-title{
	height: 44px;
	color: #0DBFA0;
	font-weight: bold;
}
.sidebar-hr{
	display: block;
	width: 90%;
	height: 1px;
	margin: 2px auto;
	background-color: #182231;
}
.sidebar-item{
	border-radius: 3px;
	cursor: pointer;
}
.sidebar-item:hover{
	background-color: #182231;
	color: #CFF3F0;
}
.sidebar-title .icon-place,
.sidebar-title .text-place,
.sidebar-item .icon-place,
.sidebar-item .text-place{
	display: block;
	height: 100%;
}
.sidebar-title .text-place,
.sidebar-item .text-place{
	width: calc(100% - 40px);
	padding: 8.5px;
}
.sidebar-title .icon-place,
.sidebar-item .icon-place{
	width: 40px;
}
.sidebar-title .icon-place{
	width: 32px;
	height: 32px;
	margin: 6px 0;
	border-radius: 100%;
	cursor: pointer;
}
.sidebar-title .icon-place:hover{	
	background-color: #182231;
}
.sidebar-title .icon-place i{
	font-size: 20px;
}
.sidebar-title .text-place{
	padding-top: 10.5px;
	padding-left: 0;
}
.sidebar-item.active-bar{
	box-shadow: 0 0 4px #182231;
	background-color: #b6c1d1;
    background-image: linear-gradient(to right,rgb(193, 212, 197) 0%,rgb(171, 173, 220) 100%);
    color: #182231;
}
#sidebar.icon-sidebar{
	width: 70px;
}
#sidebar.icon-sidebar .sidebar-title,
#sidebar.icon-sidebar .sidebar-item .text-place{
	display: none;
}
#sidebar.icon-sidebar .sidebar-item{
	width: 40px;
	margin: 10px auto;
}
/* --- Исключения --- */
#open-chat{
	display: none;
}
.last-sidebar-item{
	margin-bottom: 10px;
}
@media screen and (max-width: 420px) {
	#open-chat{
		display: flex;
	}
}